@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

:root {
  --background-monitor: #C9C7AF;
  --background-monitor-screen: #EEF1DB;
  --foreground: #485B63;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.monitor {
  background: var(--background-monitor);
  height: 100%;
  display: flex;
  padding: 25px 40px;
}

.monitor-screen {
  background: var(--background-monitor-screen);
  border-radius: 7px;
  box-shadow: inset 0px 0px 7px 7px rgba(0,0,0,0.2);
  padding: 25px 5px;
  width: 100%
}

.monitor-screen-title h1 {
  font-family: "Bitcount";
  font-size: 50px;
  font-weight: normal;
  text-align: right;
}

.monitor-screen-title hr {
  border: none;
  height: 4px;
  background-color: var(--foreground);
}
